{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

{% block title %}Удалить статью{% endblock title%}

{% block content %}
<h3 class="u-text u-text-default u-text-1">Вы уверены что хотите удалить следующую статью:</h3>
<h4>{{ article.title }}</h4>
<div class="image-block">
                <div class="image">
                    <img src="{{article.image.url}}">
                </div>
            </div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="button-block">
    <div class="button">
      <input type="submit" value="Удалить">
    </div>
  </div>
</form>
<a href="/articles" class="u-border-none u-btn u-btn-round u-button-style u-grey-90 u-hover-grey-75 u-radius-50 u-btn-1">Отмена</a>
{% endblock content %}