{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

{% block title %}Мероприятия{% endblock title%}

{% block content %}

<!--{% block search %}
<div class="search-section margin-top-bottom">
    <div class="search-block">
        <input type="text" name="search-conference" placeholder="Я хочу найти мероприятие">
    </div>
</div>
{% endblock search%}-->

{% block view %}
 <div class="button-block">
            <a href='/events/add' class="button">Добавить мероприятие</a>
        </div>
<div class="view-section margin-top-bottom">
    <div class="view-grid">
        {% for event in events %}
        <div class="card">
            <div class="image-block">
                <div class="div-img">
                    <img src="{{event.image.url|default_if_none:'image.svg'}}">
                </div>
            </div>
            <div class="content">
                <div class="div-h3">
                    <h3><a href='/events/event/{{event.id}}/'>{{event.name}}</a></h3>
                </div>
                <div class="div-p">
                    <p>{{event.about}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock view %}

{% endblock content %}